* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.flex_justify_between_align_center {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;

  background: green;
  color: white;

  border: none;
  outline: none;

  border-radius: 15px;
}
